
<i  {{bind-attr class="isShowingBody:icon-chevron-up:icon-chevron-down"}} {{action "toggleBody" this}}></i>
{{this.name}}:<small class='muted' >{{this.type}}</small>
{{#if this.isShowingBody}}
<p>
	<i  {{bind-attr class="display:icon-eye-open:icon-eye-close"}} {{action toggle this}}></i>
	{{#if this.display}}Displayed{{else}}Hidden{{/if}}

</p>
{{/if}}
