
<span {{action "toggleBody"}}>{{node.name}}:</span><small class='muted' >{{node.type}}</small>
{{#if isShowingBody}}
<p>
	{{#if node.display}}
	<button type="button" class="btn btn-default btn-sm"  {{action "hide" node}}>Hide</button>
	{{else}}
	<button type="button" class="btn btn-default btn-sm" {{action "load" node}}>Display</button>
	{{/if}}
</p>
{{/if}}
